@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    font-family: 'Press Start 2P', cursive;
}

body {
    background-color: grey;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.header {
    margin-bottom: 12px;
}

.container {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    border: 6px lightblue;
    border-radius: 12px;
    width: 640px;
    height: 640px;
}

.btns {
    display: flex;
}

.cell {
    border-color: black;
    border-width: 1px;
    background-color: white;
}

.hover {
    background-color: black;
}

.slidecontainer {
    width: 100%; /* Width of the outside container */
    display: flex;
    gap: 6px;
  }

