@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    font-family: 'Press Start 2P', cursive;
}

body {
    background-color: #dfe7e8;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.header {
    margin-bottom: 12px;
}

.container {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    width: 640px;
    height: 640px;
}

.btns {
    display: flex;
    justify-content: ;
}

.cell {
    background-color: white;
}

.slidecontainer {
    width: 100%; /* Width of the outside container */
    text-align: center;
  }

  
